#被git忽略的文件
*.log
*.suo
/WebServer/uploads/
/WebServer/public/doc/
obj/
bin/
bossfile/
/TestProject*
/TestResults
*.testsettings
*.vsmdi
/Release
PublishProfiles/
Web/
website.publishproj
node_modules/
/WebServer/public/neikan/node_modules/
xcuserdata/
.idea/
*.exclude
*.sln
.ntvs_analysis.dat
*.njsproj
*~*.TMP
